@model Cupones.Models.CouponCodeViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>BuyCoupon</h2>

<div>
    <h4>CouponModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src=@Html.DisplayFor(model => model.couponModel.pathImg) alt="Card image cap" style="width:260px;height:200px">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(model => model.couponModel.name)</h4>
                    <p class="card-text">

                        @{
                            long originalCost = Model.couponModel.originalCost;
                            long saleCost = Model.couponModel.saleCost;
                            double descuento = (originalCost - saleCost);
                            descuento = (descuento / originalCost) * 100;
                            <h4>Precio Original:@Html.DisplayFor(model => model.couponModel.originalCost)</h4>
                            <h4>Precio Con Descuento:@Html.DisplayFor(model => model.couponModel.saleCost)</h4>
                            <h4>Descuento de:@Math.Round(descuento, 1) %</h4>
                            <h4>Stock:@Model.couponModel.stock</h4>
                            <h4>Valido hasta:@Html.DisplayFor(model => model.couponModel.expirationDate)</h4>
                        }

                        @Html.DisplayFor(model => model.couponModel.description)
                    </p>

                </div>
            </div>
        </div>
        @using (Html.BeginForm("Redimir", "CouponCode", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <div class="col">
                    @Html.HiddenFor(model => model.couponModel.idCoupon)
                </div>
            </div>
            <h4>@ViewBag.msg</h4>
            <div class="form-group">
                @Html.LabelFor(model => model.couponCode.code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.couponCode.code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.couponCode.code, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <br />
            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Redimir" class="btn btn-default" />
                </div>
            </div>
        }


    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home", null, null);
</p>
